.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .string {
    width: 2px;
    height: 100px;
    background-color: #000;
    animation: vibrating 1s infinite;
  }
  
  @keyframes vibrating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  